<!-- <router-outlet /> -->

<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore provident, consequuntur natus, 
  soluta reiciendis accusamus omnis, eum illo accusantium laborum sunt quod ullam quos! Expedita minus 
  molestiae perferendis saepe harum.</p>

  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1> -->

<div class="p-4">
  <app-home></app-home>
  <app-list [userData]="userData" username="blue" balance="'green'"></app-list>
<div>
  <app-practice [userData]="userData" username="'pink'" [balance]="'black'"></app-practice>
</div>

</div>